<h1>  Rezerwacje </h1>
<% if not @available_tables %>
<form action='reservations' class=form-group>
   <label for="restaurantSelect"> Select restaurant </label> 
   <select class=form-control id=restaurantSelect onchange='this.form.submit()' name='restaurant_id'>
       <% @restaurants.each do |rest| %>
           <option value= <%=rest.id%> >
             <%= rest.name %>
            </option>
        <% end %>
    </select>
</form>
<%end%>

<form action='reservations/time' class=form-group>
    <% if @available_tables %>
        <label for=tableSelect>Choose table</label>
        <select class=form-control id=tableSelect name='table_id'>
            <% @available_tables.each do |table| %>
                <option value= <%=table.id%> ><%=table.number%></option>
            <%end%>
        </select>
        <label for="day"> Please enter the day: </label>
        <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
        <button type="submit" >Submit</button>
    <%end%>
</form>